*.aux
*.log
*.swp
*.equ
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.dvi
*.xdv
*.bbl
*.bbl
*.bcf
*.blg
*.idx
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

.DS_Store
./papers

